@font-face {
  font-family: "iconfont"; /* Project id 3485618 */
  src: url('iconfont.woff2?t=1657099309228') format('woff2'),
       url('iconfont.woff?t=1657099309228') format('woff'),
       url('iconfont.ttf?t=1657099309228') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bingxiang:before {
  content: "\e616";
}

.icon-fengshan:before {
  content: "\e617";
}

.icon-kongtiao:before {
  content: "\e618";
}

.icon-dianfanbao:before {
  content: "\e619";
}

.icon-mensuo:before {
  content: "\e61a";
}

.icon-kafeiji:before {
  content: "\e61c";
}

.icon-xiyiji:before {
  content: "\e61d";
}

.icon-classchufangdianqianzhuang:before {
  content: "\e7f2";
}

.icon-pingbandiannao:before {
  content: "\e600";
}

.icon-jiayongdianqi:before {
  content: "\e601";
}

.icon-dianqi01:before {
  content: "\e634";
}

.icon-dianqixingye:before {
  content: "\e610";
}

.icon-diannaodianqi:before {
  content: "\e60b";
}

.icon-shenghuodianqi:before {
  content: "\e650";
}

.icon-zufang1:before {
  content: "\e66e";
}

.icon-renshu:before {
  content: "\e6b6";
}

.icon-zufang2:before {
  content: "\e622";
}

.icon-icon_zufang:before {
  content: "\e61b";
}

.icon-ditu:before {
  content: "\e664";
}

.icon-zufang:before {
  content: "\e611";
}

.icon-xiajiantou:before {
  content: "\eb6d";
}

.icon-ditu-dibiao:before {
  content: "\ec3f";
}

.icon-ditu1:before {
  content: "\e8ad";
}

